/* .header {
  background-image: url(images/bg/imageheader.png);
}

.video-section {
  background-image: url(images/bg/video-section.jpg);
}

.getintouch {
  background-image: url(images/bg/getintouch.jpg);
}

.reviews {
  background-image: url(images/bg/reviews.jpg);
} */

.header1 {
  color: #fff;
  background: url(images/bg/banner1.png) center top no-repeat;
  background-size: cover;
}

.header2 {
  color: #fff;
  background: url(images/bg/Untitled-1.jpg) center top no-repeat;
  background-size: cover;
}

.header3 {
  color: #fff;
  background: url(images/bg/banner3.png) center top no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

.gallery-cell {
  width: 100%;
  /* height: 200px; */
  /* margin-right: 10px; */
}
