.header {
  background-image: url(images/bg/imageheader.png);
}

.video-section {
  background-image: url(images/bg/video-section.jpg);
}

.getintouch {
  background-image: url(images/bg/getintouch.jpg);
}

.reviews {
  background-image: url(images/bg/reviews.jpg);
}
