/* .header {
  background-image: url(images/bg/imageheader.png);
}

.video-section {
  background-image: url(images/bg/video-section.jpg);
}

.getintouch {
  background-image: url(images/bg/getintouch.jpg);
}

.reviews {
  background-image: url(images/bg/reviews.jpg);
} */

.header1 {
  color: #fff;
  background: url(images/bg/banner2.png) center top no-repeat;
  background-size: cover;
}

.header2 {
  color: #fff;
  background: url(images/bg/imageheader.png) center top no-repeat;
  background-size: cover;
}

.header3 {
  color: #fff;
  background: url(images/bg/size-01.png) center top no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

.carousel {
  background: #eee;
}

.gallery-cell {
  width: 100%;
  /* height: 200px; */
  margin-right: 10px;
}
